
$Color: #9FA0A4;
$mainColor: #313640;
$BLUE: #487EE6;

@mixin keyframes($name, $p, $q) {
    @keyframes #{$name} {
        0%{
            bottom: #{$p};
        }
        100%{
            bottom: #{$q};
        }
    }
}

@mixin tablet{
    @media(max-width: 870px){
        @content;
        //@include tablet
    }
}
@mixin tablet-mini{
    @media(max-width: 680px){
        @content;
        //@include desktop
    }
}
@mixin mobile{
    @media(max-width: 425px){
        @content;
        //@include mobile
    }
}