.landing{
    height: 100vh;
    position: relative;
    min-height: 700px;
     @include mobile{
         height: 70vh;
     }
     @include tablet{
        height: 80vh;
     }
    a{
        display: flex;
        position: absolute;
        bottom: 50px;
        width: 100%;
        height: 30px;
        align-items: center;
        justify-content: center;
        animation: crank-up 1.5s infinite alternate;
        @include keyframes(crank-up, 50px, 30px);
        @include keyframes(mobile, 30px, 50px);
         @include keyframes(tablet, -120px, -100px);

         @include tablet{
            bottom: -120px;
            animation: tablet 1s infinite alternate;
        }
        @include mobile{
            bottom: 30px;
            animation: mobile 1s infinite alternate;
        }
        img{
            height: 100%;
            width: 30px;
        }
    }
}